@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-color: #3399ff;
	color: white;
}

header {
	padding: 50px;
}

h2 {
	font-style: italic;
}

.box {
	margin-bottom: 50px;
}

button {
	cursor: pointer;
	background: inherit;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	padding: 12px;
	font-size: 18px;
}

a {
	color: white;
	border: 1px solid white;
	padding: 10px;
	border-radius: 5px;
	font-size: 18px;
}